<h2>
  {{ 'GV_HOME_TITLE' | translate }}
</h2>

<p style="white-space: pre-line;">
  {{'GV_HOME_INFO' | translate}}
</p>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p>

<ngb-carousel>
  <template ngbSlide>
    <img src="./assets/pages/gv-home/KillerShoppingApps_pt_1.png" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </template>
  <template ngbSlide>
    <img src="./assets/pages/gv-home/KillerShoppingApps_pt_2.png" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </template>
  <template ngbSlide>
    <img src="./assets/pages/gv-home/KillerShoppingApps_pt_3.png" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </template>
</ngb-carousel>

<p>
  <a class="link" (click)="gotoStart()">{{'GV_HOME_START' | translate}}</a>
</p>
